<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h3>Get your Titanic prediction here</h3>
    <p>Enter in the details of the made up person on the Titanic voyage</p>
    <p>We will output a prediction!!!</p>

    <form  action="{% url 'result' %}">
      {% csrf_token %}
      <p>Fill the class</p>
      <input type="text" name="pclass">
      <p>Fill the sex</p>
      <input type="text" name="sex">
      <p>Fill the age</p>
      <input type="text" name="age">
      <p>Fill Sibling/Spouse</p>
      <input type="text" name="sibsp">
      <p>Fill Parent/Children</p>
      <input type="text" name="parch">
      <p>Fill the fare</p>
      <input type="text" name="fare">
      <p>Fill Embarkment</p>
      <input type="text" name="embarked">
      <p>Fill the title</p>
      <input type="text" name="title">
      <input type="submit">
    </form>
  </body>
</html>
